#datetime-picker {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  padding: 8px 16px;
  margin-bottom: 32px;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: none;
}

#datetime-picker:hover {
  border-color: #000;
}

#datetime-picker:disabled {
  color: #808080;
  background: #fafafa;
  pointer-events: none;
}

#datetime-picker.flatpickr-active {
  border-color: #4e75ff;
  color: #000;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  height: 40px;
  outline: none;
  border: transparent;
  background: #4e75ff;
  color: #fff;
  cursor: pointer;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

button:hover {
  background: #6c8cff;
}

button:disabled {
  color: #989898;
  background: #cfcfcf;
  pointer-events: none;
}

.timer {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.value {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}

.my-toast .iziToast-close {
  background-image: url('../img/close.svg') !important;
  background-size: 16px 16px !important;
  background-position: center !important;
}

.my-toast .iziToast-close:before {
  display: none !important;
}
